.container {
    display: flex;
    justify-content: left; 
    align-items: center; 
    width: 100%; 
    color: #fff;
    font: 400 clamp(24px, 3vw, 48px) Inter, sans-serif;
    padding: 20px 40px;
    padding-bottom: 0px;
  }
  
  .addProfileButton {
    background-color: #cc5b5b;
    justify-content: left; 
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    font: inherit;
    color: inherit;
    border-radius: 8px; 
    transition: background-color 0.3s ease;
    position: relative;
    left: 40px;
    top: 10px;
  }
  
  .addProfileButton:focus {
    outline: 2px solid #fff;
    outline-offset: 2px;
  }
  
  .addProfileButton:hover {
    background-color: #b54d4d;
  }