
.profileStatsContainer {
    max-width: 85rem;
    margin: 0 auto;
    padding: 20px;
  
  }
  
  .profileHeader {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  
  .statsTable
   {
    padding-bottom: 0.5rem;
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0;
    display: block; 
    overflow-x: auto;
  }
  
  
  .statsTable th, .statsTable td
  {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    background-color: #ddd;
    color: black;
    border: 3px solid #000000;
  }
  
  
  .statsTable th
  {
    background-color: #b54d4d;
    border: 3px solid #000000;
    color: white;
  }
  
  
  .statsTable tr:nth-child(even)
  {
    background-color: #eee;
  }
  
  
  .statsTable tr:hover
  {
    background-color: #ccc;
  }
  

  .statsTable th, .statsTable td 
  {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .statsTableTwo
  {
    width: 100%; 
    margin-bottom: 20px;
  }


  
  

  