.formBox{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.editProfileForm{
    aspect-ratio: 2;
    object-fit: contain;
    object-position: center;
    width: 500px;
    max-width: 100%;
    margin: 50 0 -82px;
    background-color: #cc5b5b;
    flex-direction: row;
    font: 400 clamp(20px, 2vw, 36px) Inter, sans-serif;
    border-radius: 4px;
}

.newNameInput{
    font: 400 clamp(20px, 2vw, 24px) Inter, sans-serif;
}
.newsaveButton{
    background-color: rgba(33, 30, 30, 1);
    color: rgba(255, 255, 255, 1);
    font: 400 clamp(20px, 2vw, 24px) Inter, sans-serif;
    cursor: pointer;
    padding: 10px 65.4px;



}